<div class="top">
    <p class="left">webSmokeview</p>
    <button (click)="show_blockages = !show_blockages">Show obst: {{show_blockages}}</button>
    <button (click)="show_geom = !show_geom">Show geom: {{show_geom}}</button>
    <button (click)="show_outlines = !show_outlines">Show outlines: {{show_outlines}}</button>
    <button (click)="sliceNodeService.show_node = !sliceNodeService.show_node">Show slice node: {{sliceNodeService.show_node}}</button>
    <button (click)="sliceCellService.show_cell = !sliceCellService.show_cell">Show slice cell: {{sliceCellService.show_cell}}</button>
    <!--<button (click)="sliceService.show_cen = !sliceService.show_cen">Show slice cen: {{sliceService.show_cen}}</button>-->
    <button (click)="sliceGeomService.show_geom = !sliceGeomService.show_geom">Show slice geom: {{sliceGeomService.show_geom}}</button>
    <button (click)="bndfService.show_node = !bndfService.show_node">Show bndf geom: {{bndfService.show_node}}</button>
    <button (click)="nframes = 1">Stop</button>
    <button (click)="nframes = 3">Start</button>
    <p>Frame: {{iframe}}</p>
</div>

<div class="main">
    <div class="left"></div>

    <div class="center">
        <canvas width="1200" height="800" #webSmokeview canvas></canvas>
    </div>

    <div class="right"></div>
</div>
