<div class="main">
    <div class="left">
        <p class="upload">
            <button type="button" mat-raised-button (click)="fileObstInput.click()">Upload OBST .json file ...</button>
            <input hidden (change)="onObstFileSelected()" #fileObstInput type="file" id="fileObst">
        </p>
        <p class="upload">
            <button type="button" mat-raised-button (click)="fileSliceInput.click()">Upload SLCF .json file ...</button>
            <input hidden (change)="onSliceFileSelected()" #fileSliceInput type="file" id="fileSlice">
        </p>
    </div>

    <div class="center">
        <canvas class="renderer" #rendererCanvas if="renderCanvas"></canvas>
        <button class="resetView" type="button" mat-raised-button (click)="obstService.zoomToCenter()">Reset view</button>
        <button class="resetZoom" type="button" mat-raised-button (click)="obstService.zoomToMesh()">Reset zoom</button>
        <button class="wireframe" type="button" mat-raised-button [color]="(obstService.material != undefined && obstService.material.wireframe) ? 'accent' : ''" (click)="obstService.material.wireframe = obstService.material.wireframe ? false : true;">Outline</button>
        Frame: {{sliceService.frameCur}}

        <mat-slider min="0" [max]="sliceService.frameNo" step="1" [value]="sliceService.frameCur" (input)="onSliderChange($event)"></mat-slider>
        <!-- class="time-slider"  [disabled]="state?.error || currentFile.index === undefined" -->
    </div>

    <div class="right">
        <p>
            Rotate: <i>use left + move</i><br>
            Zoom: <i>mouse scroll</i><br>
            Pan: <i>mouse right + move</i>
        </p>
        <p>
            Clipping:<br>
            <span><input type="range" [ngModel]="obstService.clipX" (ngModelChange)="obstService.clip($event, 'x')" min="0" max="100" />&nbsp;{{obstService.clipX}}%</span>
            <span><input type="range" [ngModel]="obstService.clipY" (ngModelChange)="obstService.clip($event, 'y')" min="0" max="100" />&nbsp;{{obstService.clipY}}%</span>
            <span><input type="range" [ngModel]="obstService.clipZ" (ngModelChange)="obstService.clip($event, 'z')" min="0" max="100" />&nbsp;{{obstService.clipZ}}%</span><br>
            <button type="button" mat-raised-button (click)="obstService.clip(0, 'x'); obstService.clip(0, 'y'); obstService.clip(100, 'z');">Reset</button>

        </p>
    </div>
</div>